
<%- include('../partials/header') %>

<div class="container">
    <div class="row p-5 mt-3">
        <div class="col-md-12">
            <div class="card p-5">
                <!-- Personal CV Form -->
                <div class="col align-self-center">
                    <h5 class="py-2 px-5 bg-info rounded">PERSONAL CV FORM</h5>
                  </div>
                <!-- vc image -->
                <div class="col align-self-end">
                    <img class="rounded mb-2" width="150px" src="https://avatars.githubusercontent.com/u/142707165?s=400&u=b7b5499757cad5ff0170d33ef6d5929f625eb3f1&v=4" alt="Not Photo">
                </div>
                <!-- For Personal Detial -->
                <div class="card-header">
                    <h6>Personal Detial</h6>
                </div>
                <div class="card-body">
                    <pre>
Name : MYO HTET NAING
N.R.C No. : 11 / MAPATA (N) 091094
Nationality : Myanmar
Race : Rakhine
Marital Status ; Single
Phone Number : +959 -969-867-905
Email Address : myohtetnaing.dev@gmail.com
GitHub Profile : https://github.com/myohtetnaing
Contact address : No-84, Yaw Min Gyi Street, ShwePyithar, Yangon
                    </pre>

                </div>

                <!-- For Education -->
                <div class="card-header">
                    <h6>Education</h6>
                </div>
                <div class="card-body">
                    <pre>
Pearson BTEC Highter National Diploma (HND) in Computing and System Development 
at YIU - YOUTH International University (2017 to 2019)
Geography of Dagon University (Third Year)
                    </pre>

                </div>

                  <!-- For Other Qualification -->
                  <div class="card-header">
                    <h6>Other Qualification</h6>
                </div>
                <div class="card-body">
                    <pre>
CERTIFICATE OF “HND Foundation for Computing” (15-02-2017)
CERTIFICATE OF “Photoshop Foundation ” (6-3-2019)
CERTIFICATE OF “Advanced Excel” (6-6-2020)
CERTIFICATE OF “Video Editing (Basic)” (4-10-2020)
CERTIFICATE OF “Digital Literacy Skills Training for Youth Jobseekers” (15-1-2021)
CERTIFICATE OF “Video Editing” (4.10.2020)
CERTIFICATE OF “Digital Literacy Skills Training for Youth Jobseekers” (15.1.2021)
                    </pre>

                </div>


                <!-- For Objective -->
                <div class="card-header">
                    <h6>Objective</h6>
                </div>
                <div class="card-body">
                    <pre>
I aim to contribute my skills to create cutting-edge web applications that exceed
user expectations. Looking for an opportunity to make a meaningful impact and
contribute to the growth of a forward-thinking organization.
                    </pre>

                </div>

                <!-- For Technical Skills -->
<div class="card-header">
    <h6>Technical Skills</h6>
</div>
<div class="card-body">
    <pre>
### Programming Languages:
- PHP (Laravel)
- JavaScript (Node.js, Vue.js, Ejs, Express.js, JQuery)
- HTML5, CSS3, Bootstrap5, Sass, BEM Technology
### Database:
- MongoDB, MySQL
### Version Control System:
- Git, GitHub
###Graphic
-Figma, Photoshop
### Other:
- RESTful APIs,JSON
- Responsive Design and Cross-Browser Compatibility
- Problem Solving and Critical Thinking
    </pre>

</div>


             <!-- For  Work Experience -->
<div class="card-header">
<h6> Work Experience</h6>
</div>
<div class="card-body">
    <pre>
Position—Junior IT Technician at F1 IT Solution (about 6 months in 2019)
Position---Senior IT Technician at King Computer Service ( about 2 years in Currently)
    </pre>
                
 </div>

              <!-- For  Project Link -->
<div class="card-header">
    <h6> Project Links</h6>
    </div>
    <div class="card-body">
        <pre>
<strong><em>[3D-POS] - [Jan/2021 –Oct/2021]</em></strong>
 https://github.com/myohtetnaing/3D-POS-With-Pure-PHP

<small><i class="fa-solid fa-square"></i></small> Description of the 3D-POS Project:
-Develop and integrate a responsive design to ensure a consistent and engaging experience across
various devices, including desktops, tablets, and smartphones.

<small><i class="fa-solid fa-square"></i></small> Technologies Used for 3D-POS Project:
"The web project utilized the following technologies:
-Frontend: HTML5, CSS3, Bootstrap and JavaScript library for a modern and interactive user interface.
-Backend: PHP for server-side developmentcand MySQL as the SQL database for efficient datastorage.
-Version Control: Git and GitHub for collaborative development and version tracking.

<strong><em>[my-portfolio] -</em></strong>
https://github.com/myohtetnaing/my-portfolio              
        </pre>
                    
     </div>


                <div class="card-footer">
                    <h6>Position ---Full Stack Web Developer</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/footer') %>