<%- include('../partials/header') %>

<div class="container">
  <div class="row">
      <div class="col-md-6" >
        <a href="/" class="d-flex justify-content-center mt-5">
          <img class="rounded-circle img-fluid" width="250px" src="https://avatars.githubusercontent.com/u/142707165?s=400&u=b7b5499757cad5ff0170d33ef6d5929f625eb3f1&v=4" alt="Not Photo" class="img-fluid">
        </a>
      </div>
      <div class="col-md-6">
        <section id="who-im" class="mt-5 ls-widest">
          <h5 class="">~ Who I'm </h5>
          <p class="pt-2 ls-widest">Hi There! I'm Myo Htet Naing, a dedicated and experienced web developer freelancer specializing in crafting robust and scalable web solutions. With a passion for coding and a commitment to staying abreast of the latest technologies, I bring a unique blend of technical skills and creativity to every project.             
          </p>
        </section>
      </div>
  </div>
  <hr class="my-5" />
</div>
    
    
    <div class="container mt-5">
        
        <section id="what-i-can-do" class="mt-5">
            <h6 class="">~$ What I Can Do</h6>
            <div class="row mt-2">
                <div class="col-md-6">
                    #Web Development {
                        <p class="px-5">
                         ** Nothing can disturb me when I'm codding cuz I'm very joyful to code and develop websites & web applications in my life :);
                         <br>
                         ** I have experiences of developing websites & web applications such as Static web app, Dynamic web app, eCommerce web app, Single-page web app and Portal web app;
                        </p>
                      } 
                </div>
                <div class="col-md-6">
                    #Moodle Learning Management System {
                        <p class="px-5">
                            ** I'm a big fan of Moodle (LMS) cuz Moodle is used for blended learning, distance education, flipped classroom and other online learning projects in schools, universities, workplaces and other sectors;... Ref: Wiki
                            <br>
                            ** Since I'm a big fan of Moodle, I can easily setup and configure it.
                        </p>
                      }
                </div>
                <div class="col-md-6">
                    #Web Hosting {
                        <p class="px-5">
                            ** Being a Web Developer is not enough yet, so the experiences of hosting web apps on the internet is also necessary.;
                            <br>
                            ** I'm expert at hosting web apps (deployment) using shared hosting and cloud hosting. I also know how to host Laravel apps on DigitalOcean or Microsoft Azure using Laravel Forge (Server Management).;
                        </p>
                      }
                </div>
                <div class="col-md-6">
                    #Web Development Training {
                        <p class="px-5">
                            ** Although I love codding, I also love teching programming to students. Some of my students recognized me like I'm good at teching :) .;
                            <br>
                            ** I make programming tutorials on YouTube for free to help people who are willing to learn programming. I also have premium professional web designer course.;
                            <br>
                            To know more about my course ... <br>
                            Facebook: <a href="https://www.facebook.com/hornbillit" class="text-decoration-none text-primary" target="_blank">Hornbill Information Technology</a> 
                            <br>
                            YouTube: <a href="https://www.youtube.com/channel/UCy5kPWN8nIt09N0N0U07XsQ" class="text-decoration-none text-primary" target="_blank">Myanmar Programming Tutorials By Ye Myint Soe</a>
                        </p>
                      }
                </div>
            </div>
        </section>
        <section id="what-i-developed" class="mt-5">
            <h6 class="">$ What I Developed</h6>
            <div class="webapp mt-2">
                <p>The follwoing programs were developed with team members. When developing "vccs" & "service job", I play as a main developer and "moodle for kmd" is set up by just only me.</p>
                <span>#Web Sites & Web Apps {</span>
                <p class="px-5">
                    <ul class="px-5" style="list-style: square;">
                        <li class="my-2">vehicle & cargo checking system (vccs)</li>
                        <li class="my-2">next level</li>
                        <li class="my-2">kmd mart</li>
                        <li class="my-2">wyz myanmar</li>
                        <li class="my-2">international theravāda buddhist missionary university (itbmu)</li>
                        <li class="my-2">moodle for kmd</li>
                        <li class="my-2">service job</li>
                    </ul>
                </p>
            <span>}</span>
            </div>
        </section>
      
    </div>



<%- include('../partials/footer') %>
    
