<%- include('../partials/header') %>

<div class="container">
    <div class="row px-3 py-3">
      <div class="col-md-6" >
        <a href="/" class="d-flex justify-content-center mt-5">
          <img class="rounded-circle img-fluid" width="250px" src="https://avatars.githubusercontent.com/u/142707165?s=400&u=b7b5499757cad5ff0170d33ef6d5929f625eb3f1&v=4" alt="Not Photo" class="img-fluid">
        </a>
      </div>
      <div class="col-md-6">
        <section id="who-im" class="mt-5 ls-widest">
          <h5 class="">~ Who I'm </h5>
          <p class="pt-2 ls-widest">Hi There! I'm Myo Htet Naing, a dedicated and experienced web developer freelancer specializing in crafting robust and scalable web solutions. With a passion for coding and a commitment to staying abreast of the latest technologies, I bring a unique blend of technical skills and creativity to every project.             
          </p>
        </section>
      </div>
    </div>
    <hr class="my-5" />
    <div class="row px-3 py-3">
        <div class="col-md-6">
            <h4 class="d-flex justify-content-center"><em>What I Can Do</em></h4>
                __Web Development {
                    <p class="px-3 pt-1">
                     __I have experiences of developing websites & web applications such as Static web app, Dynamic web app, eCommerce web app, Single-page web app and Portal web app;
                    </p>
                  } 
        </div>
        <div class="col-md-6">
            <h4 class="d-flex justify-content-center"> <em>What I Developed</em></h4>
                <span>__Web Sites & Web Apps {</span>
                    <ul class="px-5" style="list-style: square;">
                        <li class="my-2 d-flex justify-content-center">my personal portfolio</li>
                        <li class="my-2 d-flex justify-content-center">3D POS System</li>
                        <li class="my-2 d-flex justify-content-center">Api Laravel CRUD</li>
                        <li class="my-2 d-flex justify-content-center">Api Vue.js CRUD</li>
                    </ul>
                <span>}</span>
        </div>
    </div>
    </div>
    <hr class="my-5">
</div>


<%- include('../partials/footer') %>
    
