
<%- include('../partials/header') %>
<div class="container py-5 px-2 mt-2">
    <div class="row">
        <div class="col-md-6">
            <section>
                <h2 class="bg-light rounded p-2"><em>Programming Languages</em></h2>
                <ul >
                  <li class="py-1">HTML5</li>
                  <li class="py-1">CSS3</li>
                  <li class="py-1">JavaScript</li>
                  <!-- Add more programming languages as needed -->
                </ul>
              </section>
        </div>
        <div class="col-md-6">
            <section>
                <h2 class="bg-light rounded p-2"><em>Frontend Technologies</em></h2>
                <ul >
                  <li class="py-1">React.js</li>
                  <li class="py-1">Vue.js</li>
                  <li class="py-1">Bootstrap</li>
                  <li class="py-1">jQuery</li>
                  <li class="py-1">Web Components</li>
                  <!-- Add more frontend technologies as needed -->
                </ul>
              </section>
        </div>
        <div class="col-md-6">
            <section>
                <h2 class="bg-light rounded p-2"><em>Backend Technologies</em></h2>
                <ul>
                  <li class="py-1">Node.js</li>
                  <li class="py-1">Express.js</li>
                  <li class="py-1">PHP</li>
                  <li class="py-1">Laravel</li>
                  <!-- Add more backend technologies as needed -->
                </ul>
              </section>
            
        </div>
        <div class="col-md-6">
            <section>
                <h2 class="bg-light rounded p-2"><em>Database Systems</em></h2>
                <ul>
                  <li class=" py-1">MongoDB</li>
                  <li class="py-1">MySQL</li>
                  <!-- Add more database systems as needed -->
                </ul>
              </section>
        </div>
        <div class="col-md-6">
            <section>
                <h2 class="bg-light rounded p-2"><em>Other Skills</em></h2>
                <ul>
                  <li class="py-1">RESTful API Design</li>
                  <li class="py-1">Git & Github</li>
                  <li class="py-1">BEM Technology</li>
                  <li class="py-1">Photoshop</li>
                  <li class="py-1">Figma</li>
    
                  <!-- Add more skills as needed -->
                </ul>
              </section>
        </div>
  
        <div class="col-md-6">
            <section>
                <h2 class="bg-light rounded p-2"><em>Soft Skills</em></h2>
                <ul >
                    <li class="py-1"> Communication:Excellent verbal and written communication skills</li>
                    <li class="py-1"> Teamwork:Collaborative and able to work effectively in a team</li>
                    <li class="py-1">Problem-solving:*Strong analytical and problem-solving abilities</li>
                    <li class="py-1">Adaptability: Quick learner, adaptable to new technologies</li>
                </ul>

            </section>
        </div>
    </div>
</div>




<%- include('../partials/footer') %>
