
<%- include('../partials/header') %>


<div class="container">
    <div class="row">
        <div>
            <h4>## Technical Skills</h4>
            <ul class="list-unstyled">
                <li> ~ **Programming Languages:** JavaScript,PHP</li>
                <li> ~ **Web Development:** HTML, CSS,Bootstrap, JQuery, Node.js, Express.js,Vue.js, Vuex, Ejs</li>
                <li> ~ **Database Management:** MySQL, MongoDB</li>
                <li> ~ **Version Control System:** Git and Github</li>
                <li> ~ **OS Platform:** (windows, linux - ubuntu)</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div>
            <h4>## Soft Skills</h4>
            <ul class="list-unstyled">
                <li> ~ **Communication:** Excellent verbal and written communication skills</li>
                <li> ~ **Teamwork:** Collaborative and able to work effectively in a team</li>
                <li> ~ **Problem-solving:** Strong analytical and problem-solving abilities</li>
                <li> ~ **Adaptability:** Quick learner, adaptable to new technologies</li>
            </ul>
        </div>

    </div>

 
</div>




<%- include('../partials/footer') %>